.home-container-countriesCard{
    display: flex;
    width: 1140px;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    color: white;
}

.home-countryCard{
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22,50,77);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
    padding-bottom: 20px;
}

.home-countryCard-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.home-card-padding{
    padding-bottom: 30px;
}